         .detailsPage {
        .watchProviders {
            .sectionHeading {
                font-size: 1.5rem;
                font-weight: arial;
                margin-bottom: 10px;
                color: white;
            }
        
      
          .error {
            color: red;
            margin-bottom: 1rem;
          }
      
          .providerList {
            display: flex;
            flex-wrap: wrap;
      
            .provider {
              border: none;
              background-color: transparent;
              margin-right: 1rem;
              margin-bottom: 1rem;
              transition: transform 0.2s ease-in-out;
      
              .logo {
                width: 100px;
                height: auto;
                transition: transform 0.2s ease-in-out;
                border-radius: 15px;
              }
      
              &:hover {
                transform: scale(1.1);
      
                .logo {
                  scale: 15px;
                }
              }
            }
          }
        }
      }
      