.resimlerSection {
    padding: 20px;
    color: #fff;
    display: flex;

    .sectionHeading {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .mainImageWrapper {
        position: relative;
        width: 80%;
        max-width: 800px;

        .mainImage {
            width: 135%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
            opacity: 1;

            &.fade-enter,
            &.fade-exit {
                opacity: 0;
            }
        }

        .navigationButton {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            color: #dadada;
            font-size: 2rem;
            cursor: pointer;
            user-select: none;
            z-index: 1;

            &.left {
                left: -50px;
            }

            &.right {
                right: -330px;
            }
        }

        .imageCounter {
            position: absolute;
            bottom: 10px;
            left: 70%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
@media (max-width: 768px) {
    .mainImageWrapper {
        width: 100%;

        .mainImage {
            width: 100%;
        }

        .navigationButton {
            color: #000000;
            &.left {
                left: 10px;
            }

            &.right {
                right: 10px;
            }
        }

        .imageCounter {
            bottom: 20px;
            left: 50%;
        }
    }
}
}