@import "../../../mixins.scss";

.castSection {
    position: relative;
    margin-bottom: 50px;

    .sectionHeading {
        font-size: 24px;
        color: white;
        margin-bottom: 25px;
    }

    .listItems {
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;

        @include md {
            margin: 0;
            padding: 0;
        }

        .listItem {
            text-align: center;
            color: white;

            .profileImg {
                width: 125px;
                height: 125px;
                border-radius: 10%;
                overflow: hidden;
                margin-bottom: 15px;
                

                @include md {
                    width: 175px;
                    height: 175px;
                    margin-bottom: 25px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                    display: block;
                    transition: transform 0.3s ease;

                    &:hover {
                        transform: scale(1.20);
                    }
                }
            }

            .name {
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;

                @include md {
                    font-size: 18px;
                    line-height: 24px;
                }
            }

            .character {
                font-size: 14px;
                line-height: 20px;
                opacity: 0.5;

                @include md {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }

    .castSkeleton {
        display: flex;
        gap: 50px;
        overflow-y: hidden;
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;

        @include md {
            margin: 0;
            padding: 0;
        }

        .skItem {
            .circle {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                margin-bottom: 15px;

                @include md {
                    width: 175px;
                    height: 175px;
                    margin-bottom: 25px;
                }
            }

            .row {
                width: 100%;
                height: 20px;
                border-radius: 10px;
                margin-bottom: 10px;
            }

            .row2 {
                width: 75%;
                height: 20px;
                border-radius: 10px;
                margin: 0 auto;
            }
        }
    }

    .scroll-arrow {
        font-size: 24px;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.9;
        z-index: 1;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 1);
        transition: opacity 0.3s ease;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }

        &:hover {
            opacity: 1;
        }
    }
}
   .navigateButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 24px;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1);
        }
  
        &:active {
          transform: scale(0.9);
        }
      }
  
      .left {
        transform: rotateY(180deg);
      }
    
      .arrow {
        font-size: 50px;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        cursor: pointer;
        opacity: 0.5;
        z-index: 1;
        display: none;
        transition: 0.3s;
        @include md {
            display: block;
        }
        &:hover {
            opacity: 1;
        }
    }
    .carouselLeftNav {
        left: 425px;
    }
    .carouselRighttNav {
        right: 425px;
    }
    .skeletonItem {
        width: 125px;
        @include md {
            width: calc(25% - 15px);
        }
        @include lg {
            width: calc(20% - 16px);
        }
    }