.luckyButtonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    transition: 0.3s;
    left: 21.5%;
    width: 57%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7); 
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    z-index: -1;
    margin-bottom: 25px;
}

.refreshIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}
.luckyButton {
    position: relative;
    border: none;
    padding: 40px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: 200;
    transition: 0.3s;
    margin-left: -30px;
}
.imageContent3{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border-radius: 5px;
    bottom: 5px;
    transition: 0.3s;
    cursor:copy;
}

/* Küçük ekranlar için */
@media (max-width: 768px) {
    .backgroundImage {
        left: 50%; /* Sol tarafa daha yakın yap */
        width: 80%; /* Genişliği arttır */
    }

    .luckyButton {
        padding: 30px; /* Padding'i azalt */
        font-size: 24px; /* Yazı boyutunu küçült */
    }

    .luckyButtonText {
        margin-top: 30px; /* Üst marjını azalt */
        font-size: 16px; /* Yazı boyutunu küçült */
    }
}

/* Daha küçük ekranlar için */
@media (max-width: 480px) {
    .backgroundImage {
        left: 45%; /* Sol tarafa daha yakın yap */
        width: 90%; /* Genişliği arttır */
    }

    .luckyButton {
        padding: 20px; /* Padding'i daha da azalt */
        font-size: 18px; /* Yazı boyutunu küçült */
    }

    .luckyButtonText {
        margin-top: 20px; /* Üst marjını daha da azalt */
        font-size: 14px; /* Yazı boyutunu küçült */
    }
}
