.luckyButtonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    transition: 0.3s;
    left: 21.5%;
    width: 57%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7); 
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    z-index: -1;
    margin-bottom: 25px;
    user-select: none;
}

.refreshIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    transition: transform 0.4s;
    user-select: none;
    cursor: pointer;
}

.refreshIcon:active {
    transform: rotate(360deg);
}

.refreshIcon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 6;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
}

.luckyButton {
    position: relative;
    border: none;
    padding: 40px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    margin-left: -30px;
    transform: scale(1.3);
}

.luckyButton:hover {
    transform: scale(1.4);
}

.imageContent3 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border-radius: 5px;
    bottom: 5px;
    transition: 0.3s;
    user-select: none;
}

/* Küçük ekranlar için */
@media (max-width: 768px) {
    .backgroundImage {
        left: 50%; /* Sol tarafa daha yakın yap */
        width: 80%; /* Genişliği arttır */
    }

    .luckyButton {
        padding: 30px; /* Padding'i azalt */
        font-size: 24px; /* Yazı boyutunu küçült */
    }

    .imageContent3 {
        margin-top: 30px; /* Üst marjını azalt */
        font-size: 16px; /* Yazı boyutunu küçült */
    }
}

/* Daha küçük ekranlar için */
@media (max-width: 480px) {
    .backgroundImage {
        left: -35%; /* Sol tarafa daha yakın yap */
        width: 170%;
        height: 50%;
    }

    .luckyButton {
        padding: 150px; /* Padding'i daha da azalt */
        font-size: 15px; /* Yazı boyutunu küçült */
    }
}
